@font-face {
    font-family: "Nunito" ;
    src: url("../fonts/Nunito.ttf");
}

:root
{
	--oranges:#ec5a13;
}

.fins {
	display: flex;
	justify-content: center;
	gap: 0.7em;
	align-items: center;
}

.trait {
	border-right: 3px solid var(--oranges);
	height: 100%;
}

html,body
{
    width: 100%;
    min-height: 100vh;
}

h2 {
	font-weight: 700;
	font-size: clamp(24px,1.75vw,28px);
}

p, div
{
	font-size: clamp(15px, 1vw, 16px);
}

body{
    font-family: "Nunito";
}

.entete {
	padding: 0.7em 0em;
	box-shadow: 2px 0px 10px #B8B9B8;
	background-color: #FFF;
}

.corps {
    display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.corps2 {
    display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 1em 3vw;
}


.formules .form-control:focus {
	box-shadow: none;
	border-color: #09C;
	border-width: 2px;
}


.fond {
	background: url("../img/fond.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom center;
}


.formulaire {
	padding: 2em;
	border-radius: 20px;
	box-shadow: 0px 0px 6px #ccc;
    background-color: #FFF;
}

.borange {
	background-color: var(--oranges);
	border-radius: 50px;
	border: 0;
	font-weight: 600;
	padding: 0.8em 2em;
}

.borange3 {
	background-color: var(--oranges);
	border: 0;
	font-weight: 600;
}

.borange3:hover {
	background-color:  var(--oranges);
    opacity: 0.9;
}

.large
{
	width: 300px !important;
}

.boxes {
	border: 1px solid #ec5a13;
	border-radius: 10px;
	padding: 2em;
	margin-bottom: 2em;
}

.bou
{
	padding: 0.8em 2em;
	border-radius: 0;
	font-size: 90%;
}

.cadres {
	box-shadow: 0px 0px 6px #CCC;
	padding: 1em;
}

.fgris {
	background-color: #eee;
	padding: 0.1em 1em;
}

.petit {
	font-size: 85%;
}

.pieds {
	background-color: #474747;
	color: #FFFFFF;
	padding: 1em 0em;
}
.tnoire
{
	color: #000;
}

.cents {
	display: flex;
	gap: 2em;
	align-items: center;
}

.listes li a
{
	color: #000 !important;
}

.gros {
	font-size: 125%;
  }

  .modal-body {
	padding: 2em 6vw;
}


.vid {
	width: 2em;
	aspect-ratio: 1;
	display: inline-block;
	background-color: #4e9850;
	border-radius: 100%;
}

.tgris {
	font-weight: 700;
	color: #AAA;
}

.cadre2 {
	border: 1px solid #CCC;
	padding: 1em;
	border-radius: 5px;
}

.cadre2 p{
	margin-bottom: 0.4em;
}


.borange:hover {
	background-color: var(--oranges);
	opacity: 0.9;
}

.centre {
	display: flex;
	gap: 2em;
	align-items: center;
	justify-content: center;
}

.w30
{
	width: 30%;
}

.toranges
{
	color: var(--oranges);
}
.centrer
{
	
}

.gras
{
	font-weight: 700;
}

.borange2:hover{
	background-color: var(--oranges);
	opacity: 0.7;
}

.borange2 {
	background-color: var(--oranges);
	border-radius: 50px;
	border: 0;
	font-weight: 600;
	padding: 0.5em 2em;
}

.formulaire input {
	border-radius: 50px;
	padding: 0.5em 1em;
}

.formulaire #basic-addon1 {
	border-radius: 0px 25px 25px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}


#togglePassword {
	border-radius: 0px 50px 50px 0px;
	border: 1px solid #ced4da;
}

.w100
{
	width: 100%;
}


.formulaire input.form-control:focus {
    
    box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.2);
  }


  .form-control.valides {
	border: 1px solid #0e0;
}

.form-control.invalides {
	border: 1px solid #c00;
}


.form-control.valides:focus {
	box-shadow: 0 0 0 0.25rem rgba(0, 220, 0, 0.3);
	border: 1px solid #0e0;
}

.form-control.invalides:focus {
	box-shadow: 0 0 0 0.25rem rgba(220, 0, 0, 0.3);
	border: 1px solid #c00;
}

